*{
	/*border: 1px solid #2757F5;*/
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
  padding: 40px 20px 30px;
}

.img {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.img img {
  width: 280px;
  height: auto;
  display: block;
}

header {
  width: 100%;
  text-align: center;
  flex-basis: 100%;
}

h1 {
  font-size: 20px;
  text-align: center;
  width: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}

footer {
  width: 100%;
  text-align: center;
}

.footer_p {
  font-size: 12px;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  color: gray;
}