*{
	/*border: 1px solid #2757F5;*/
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1 {
  font-size: 20px;
  text-align: center;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #000000;
}