*{
	/*border: 1px solid #2757F5;*/
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  word-break: keep-all;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 20px;
  row-gap: 15px;
  padding: 20px 20px 0px;
  align-items: center;
}

figure {
	flex: 0 0 auto;
  margin: 0;
  position: relative;
  /*opacity: 0.8;*/
  width: fit-content; }

figure:hover {
  opacity: 1;
  transform: scale(1.05);
}

figure img {display: block;}

header {
  width: 100%;
  text-align: center;
  flex-basis: 100%;
}


h1 {
  font-size: 20px;
  text-align: center;
  width: 100%;
}

h2 {
  font-size: 16px;
  text-align: center;
  width: 100%;
}

p{
  font-size: 12px;
  text-align: center;
}

footer {
  width: 100%;
  text-align: center;
}

.footer_p {
  font-size: 12px;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  color: gray;
}

summary{
  list-style: none;
  cursor: pointer;
}
summary::-webkit-details-marker{ display: none; }

figcaption{
  background: black;
  color: white;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  white-space: normal;
  overflow-wrap: anywhere;
  z-index: 99;
  padding: 5px;
  line-height: 1.5;
}

details[open] figcaption{
  display: block;
}

.img1 img { width: 23vw; height: auto;}
.img2 img { width: 10vw; height: auto;}
.img3 img { width: 12vw; height: auto;}
.img4 img { width: 8vw;; height: auto;}
.img5 img { width: 33vw; height: auto; }

.img6 img { width: 4vw; height: auto;}
.img7 img { width: 35vw; height: auto;}
.img13 img { width: 15vw; height: auto;}
.img8 img { width: 32vw; height: auto;}
.img9 img { width: 3.5vw; height: auto;}

.img10 img { width: 20vw; height: auto;}
.img11 img { width: 8vw; height: auto;}
.img12 img { width: 20vw; height: auto;}
.img14 img { width: 40vw; height: auto; }

.img16 img { width: 8.5vw; height: auto; }
.img17 img { width: 15vw; height: auto;}
.img15 img { width: 50vw; height: auto; }


@media (max-width: 768px) {
  /**{border: 1px solid #2757F5;}*/
  body {
    column-gap: 2vw;
    row-gap: 4vh;
  }

  .img1 img { width: 30vw; height: auto;}
  .img2 img { width: 18vw; height: auto;}
  .img3 img { width: 22vw; height: auto;}
  .img4 img { width: 13vw;; height: auto;}

  .img5 img { width: 65vw; height: auto; }
  .img6 img { width: 7vw; height: auto;}

  .img7 img { width: 75vw; height: auto; }
  .img13 img { width: 25vw; height: auto;}

  .img8 img { width: 55vw; height: auto;}
  .img9 img { width: 5vw; height: auto;}

  .img10 img { width: 30vw; height: auto;}
  .img11 img { width: 13vw; height: auto;}
  .img12 img { width: 33vw; height: auto;}

  .img14 img { width: 60vw; height: auto; }
  .img16 img { width: 9vw; height: auto; }
  .img17 img { width: 25vw; height: auto;}

  .img15 img { width: 95vw; height: auto; }
}