*{
	/*border: 1px solid #2757F5;*/
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	word-break: keep-all;
}

body{
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  padding: 20px;
}



header {
  width: 100%;
  text-align: center;
  flex-basis: 100%;
}

h1 {
  font-size: 20px;
  text-align: center;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #000000;
}

footer {
  width: 100%;
  text-align: center;
}

.footer_p {
  font-size: 12px;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  color: gray;
}
